{% extends "layouts/base-presentation.html" %}
{% load static %}

{% block content %}
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-center">
                <h4 class="font-weight-bolder">Logged out</h4>
                <div class="card-body">
                <h5 class="card-body">
                  <a href="{% url 'login' %}">
                    Click here to log in again
                  </a>
                </h5>
                </div>
              </div>
            </div>
            <div
                class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 ">
              <img src="{% static 'assets/img/curved-images/chef-preparing-food-in-the-kitchen.jpg' %}" alt="pattern-lines"
                   class="opacity-8 start-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}